/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
}

header{
    height:100px;
    text-align: center;
    padding-top: 30px;
    color:#e53070;
  
}


main{
    width: 70%;
    margin: auto; 
}
main p {
    text-align: center;
    margin-bottom: 44px;
    font-family: sans-serif;
    font-size: 15px;
}
    
  
  .row {
    margin: auto;
   
   
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}
.card {
    border: solid black 1px;
    width: 289px;
    height: 86px;
    float: left;
    margin-bottom: 29px;
    margin-left: 25px;
    background-color: black;
}
.photo img{
    border: solid black 1px;
    width: 80px;
    height: 84px;
    float: left;
}

.name,.credenziali {
    color: white;
    margin-left: 10px;
    float: left;
}
.name {
    font-size: 15px;
    MARGIN-TOP: 15px;
}
.credenziali  {
    font-size: 13px;
    margin-top: 5px;
} 
.email {
    text-decoration: none;
    color: #1a73e8;
    font-size: 13px;
    }
.credenziali,.email{
    font-family: sans-serif;
}
.container{
    margin-top: 5px;
}
.card::after{
    content: "";
    display: table;
    clear: both;
}
.photo::after{
    content: "";
    display: table;
    clear: both;
}
    



